<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet"/>
<script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <link rel="stylesheet" href="main.css">
</head>
<div>
<body>

<h1>Password generator in</h1>
  <img src="../assets/python-logo.png">
<h2>I</h2>
<h3>I</h3>
<h3>V</h3>
<h4>Input length of your password:</h4>
<py-script src="main.py"></py-script>

</body>

</html>
