body {
  color: rgb(255, 212, 59);
  font-family: Arial, sans-serif;
  font-size: 26px;
  background: rgb(62, 60, 62);
  text-align: center;
}

h1 {
  font-size: 36px;
  padding-top: 36px;
}

h2 {
  font-size: 26px;
  padding-top: 20px;
}

h3 {
  font-size: 26px;
  margin-top: -33px;
}

h4 {
  font-size: 28px;
}

py-script {
  color: rgb(75, 139, 190)
}